<div class="comments">
    {{#each this}}
    <div class="comment">
        <div class="card-header">
            {{user.username}} on {{format_date created_at}}
            <br />
            {{comment_text}}
        </div>
    </div><br />
    {{/each}}
</div>