<div class="col-12">
    <h2>Create New Post</h2><br />

    <form class="new-post-form card-header">
        <div>
            <label class="text" for="post-title">Title:</label>
            <input class="input" type="text" id="post-title" size="60" name="post-title" />
        </div><br />
        <div>
            <label class="text" for="post-text">Content:</label>
            <textarea class="input" name="post-text" rows="7" style="width:100%;padding:1.5%"></textarea>
        </div>
        <button type="submit" class="btn">Create Post</button>
    </form>
</div>

<script src="/javascript/add-post.js"></script>