<div class="col-12">
    {{> post-info post}}

    {{#if loggedIn}}
    <form class="comment-form col-4">
        <div class="card-header">
            <textarea style="width:100%;padding:1.5%" rows="7" name="comment-body"></textarea>
        </div>

        <div>
            <button class="btn" type="submit">Add Comment</button>
        </div><br />
    </form>
    {{/if}}

    {{> comments post.comments}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}